@{
    ViewData["Title"] = "Home";
}
<div class="container contenido">
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            @{
                foreach(Publicacion post in ViewBag.listadoPosts)
                {
                    <div class="post">
                    <br>
                    <div class="row dataPost">
                        <div class="circulo">
                            <img src="/@post.FotoUsuario" id="imagen@(post.IDUsuario)">
                            <script>
                                HorizontalOVertical("imagen"+@post.IDUsuario);
                            </script>
                        </div>
                        <div class="col-sm-5 col-9">
                            <div class="user">
                                <p>@post.NombreUsuario</p>
                                <p class="text-muted">de @post.PaisOrigen</p>
                            </div>
                            <p class="text-muted">@post.Destino</p>
                        </div>
                        <div class="col-sm-5">
                            <p class="text-muted dataPost">Experiencia:</p>
                            <div>
                                @{
                                    for(int i = 1;i <= 5;i++)
                                    {
                                        if(i<=post.Estrellas)
                                        {
                                            <img class="estrella" src="/estrellaon.png">
                                        }
                                        else
                                        {
                                            <img class="estrella" src="/estrellaoff.png">
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    @{
                        List<string> listadoFotos = new List<string>();
                        if(post.Foto1 != null)
                        {
                            listadoFotos.Add(post.Foto1);
                        }
                        if(post.Foto2 != null)
                        {
                            listadoFotos.Add(post.Foto2);
                        }
                        if(post.Foto3 != null)
                        {
                            listadoFotos.Add(post.Foto3);
                        }

                        if(listadoFotos.Count > 0)
                        {
                            <div id="carouselExampleIndicators@(post.ID)" class="carousel slide" data-bs-interval="false">
                                @{
                                    if(listadoFotos.Count > 1)
                                    {
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleIndicators@(post.ID)" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators@(post.ID)" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            @{
                                                if(listadoFotos.Count == 3)
                                                {
                                                    <button type="button" data-bs-target="#carouselExampleIndicators@(post.ID)" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                }
                                            }
                                        </div>
                                    }
                                    <div class="carousel-inner">
                                        @{
                                            <div class="carousel-item active">
                                            <img src="/@listadoFotos[0]" class="d-block w-100" alt="...">
                                            </div>
                                            if(listadoFotos.Count >= 2)
                                            {
                                                <div class="carousel-item">
                                                <img src="/@listadoFotos[1]" class="d-block w-100" alt="...">
                                                </div>
                                                if(listadoFotos.Count == 3)
                                                {
                                                    <div class="carousel-item">
                                                    <img src="/@listadoFotos[2]" class="d-block w-100" alt="...">
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                    if(listadoFotos.Count > 1)
                                    {
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators@(post.ID)" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators@(post.ID)" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    }
                                }
                            </div>
                        }
                    }
                    <p class="dataPost">@post.Opinion</p>
                    <div class="row dataPost">
                        <div class="col-sm-1 col-2 dest">
                            <a data-bs-toggle="modal" data-bs-target="#accesodenegado"><img src="/likeoff.png"></a>
                        </div>
                        <div class="col-sm-2 col-2 dest">
                            <p class="num">128</p>
                        </div>
                        <div class="col-sm-1 col-2 dest">
                            <a data-bs-toggle="modal" data-bs-target="#comentarios" onclick="MostrarComentarios('@post.ID')"><img src="/comentario.png"></a>
                        </div>
                        <div class="col-sm-2 col-2 dest">
                            <p class="num">24</p>
                        </div>
                        <div class="col-sm-6 col-4">
                            <p class="text-muted derecha">@post.FechaPublicacion.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
        <div class="col-sm-3">
            <a href='@Url.Action("AgregarPost","Home")' class="newPost foot" data-bs-toggle="modal" data-bs-target="#accesodenegado">+</a>
        </div>
    </div>
    
    <div class="modal fade" id="accesodenegado" tabindex="-1" aria-labelledby="accesodenegadolabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accesodenegadolabel">Acceder para interactuar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <p class="text-center">Inicia sesión para poder likear, comentar y subir publicaciones</p>
               <a class="btn btn-success registro" href='@Url.Action("IniciarSesion","Home")'>Iniciar Sesion</a> 
               <br>
               <br>
               <p class="text-center">¿No tenés una cuenta? ¡Sumate a la comunidad!</p> 
                <a class="btn btn-primary registro" href='@Url.Action("Registrarse","Home")'>Registrarse</a>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="comentarios" tabindex="-1" aria-labelledby="comentarioslabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comentariostitulo"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="comentarioscontenido">
               <div class="row dataPost coment">
                    <div class="circulo">
                        <img src="/selfie0.jpg" id="imagen0">
                        <script>
                            HorizontalOVertical("imagen0");
                        </script>
                    </div>
                    <div class="col-sm-9">
                        <div class="user">
                            <p><b>usuario.viaje12345</b></p>
                            <p class="text-muted">de País</p>
                        </div>
                        <p>Comentario del usuario</p>
                        <p class="text-muted derecha" >8/11/22</p>
                    </div>
                </div>
                <div class="row dataPost coment">
                    <div class="circulo">
                        <img src="/selfie0.jpg" id="imagen0">
                        <script>
                            HorizontalOVertical("imagen0");
                        </script>
                    </div>
                    <div class="col-sm-9">
                        <div class="user">
                            <p><b>usuario.viaje12345</b></p>
                            <p class="text-muted">de País</p>
                        </div>
                        <p>Comentario del usuario</p>
                        <p class="text-muted derecha" >8/11/22</p>
                    </div>
                </div>
                <footer>
                    <form method="post" action='@Url.Action("GuardarComentario","Home")'>
                        <input type="text" class= 'agcoment' placeholder ="Agregá un comentario">
                        <input type="submit" class="btn btn-primary" value = 'Publicar'>
                    </form>

                </footer>
            </div>
        </div>
    </div>
</div>
