@{
    ViewData["Title"] = "Home";
}
<div class="container contenido">
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            @{
                foreach(Publicacion post in ViewBag.listadoPosts)
                {
                    <div class="post">
                    <br>
                    @{
                        int idUser = 0;
                        if(ViewBag.usuario != null)
                        {
                            idUser = ViewBag.usuario.ID;
                        }
                        if(idUser == post.IDUsuario)
                        {
                            <a class="eliminar derecha" data-bs-toggle="modal" data-bs-target="#eliminar" onclick='Eliminar(@post.ID,"p")'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                </svg>
                            </a>
                        }
                    }
                    <div class="row dataPost">
                        <div class="circulo">
                            <img src="/@post.FotoUsuario" id="imagen@(post.IDUsuario)">
                            <script>
                                HorizontalOVertical("imagen"+@post.IDUsuario);
                            </script>
                        </div>
                        <div class="col-sm-5 col-9">
                            <div class="user">
                                <p>@post.NombreUsuario</p>
                                <p class="text-muted">de @post.PaisOrigen</p>
                            </div>
                            <p class="text-muted">@post.Destino</p>
                        </div>
                        <div class="col-sm-5">
                            <p class="text-muted dataPost">Experiencia:</p>
                            <div>
                                @{
                                    for(int i = 1;i <= 5;i++)
                                    {
                                        if(i<=post.Estrellas)
                                        {
                                            <img class="estrella" src="/estrellaon.png">
                                        }
                                        else
                                        {
                                            <img class="estrella" src="/estrellaoff.png">
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    @{
                        List<string> listadoFotos = new List<string>();
                        if(post.Foto1 != null)
                        {
                            listadoFotos.Add(post.Foto1);
                        }
                        if(post.Foto2 != null)
                        {
                            listadoFotos.Add(post.Foto2);
                        }
                        if(post.Foto3 != null)
                        {
                            listadoFotos.Add(post.Foto3);
                        }

                        if(listadoFotos.Count > 0)
                        {
                            <div id="carouselExampleIndicators@(post.ID)" class="carousel slide" data-bs-interval="false">
                                @{
                                    if(listadoFotos.Count > 1)
                                    {
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleIndicators@(post.ID)" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators@(post.ID)" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            @{
                                                if(listadoFotos.Count == 3)
                                                {
                                                    <button type="button" data-bs-target="#carouselExampleIndicators@(post.ID)" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                }
                                            }
                                        </div>
                                    }
                                    <div class="carousel-inner">
                                        @{
                                            <div class="carousel-item active">
                                            <img src="/@listadoFotos[0]" class="d-block w-100" alt="...">
                                            </div>
                                            if(listadoFotos.Count >= 2)
                                            {
                                                <div class="carousel-item">
                                                <img src="/@listadoFotos[1]" class="d-block w-100" alt="...">
                                                </div>
                                                if(listadoFotos.Count == 3)
                                                {
                                                    <div class="carousel-item">
                                                    <img src="/@listadoFotos[2]" class="d-block w-100" alt="...">
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                    if(listadoFotos.Count > 1)
                                    {
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators@(post.ID)" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators@(post.ID)" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    }
                                }
                            </div>
                        }
                    }
                    <p class="dataPost">@post.Opinion</p>
                    <div class="row dataPost">
                        <div class="col-sm-1 col-2 dest">
                            <a id="like@(post.ID)"></a>
                            <script>
                                AccesoSiONo("like",@post.ID);
                                LikeONo(@post.ID,@idUser);
                            </script>
                        </div>
                        <div class="col-sm-2 col-2 dest">
                            <p class="num" id="cantlikes@(post.ID)"></p>
                            <script>
                                CantLikes(@post.ID);
                            </script>
                        </div>
                        <div class="col-sm-1 col-2 dest">
                            <a id="coment@(post.ID)"><img src="/comentario.png"></a>
                            <script>
                                AccesoSiONo("coment",@post.ID);
                            </script>
                        </div>
                        <div class="col-sm-2 col-2 dest">
                            <p class="num" id="cantcoment@(post.ID)"></p>
                            <script>
                                CantComentarios(@post.ID);
                            </script>
                        </div>
                        <div class="col-sm-6 col-4">
                            <p class="text-muted derecha">@post.FechaPublicacion.ToShortDateString()</p>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                }
            }
        </div>
        <div class="col-sm-3">
            <a id="add0" class="newPost foot" href='@Url.Action("AgregarPost","Home")'>+</a>
            <script>
                AccesoSiONo("add",0)
            </script>
        </div>
    </div>
    
    <div class="modal fade" id="accesodenegado" tabindex="-1" aria-labelledby="accesodenegadolabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accesodenegadolabel">Acceder para interactuar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <p class="text-center">Inicia sesión para poder likear, comentar y subir publicaciones</p>
               <a class="btn btn-success registro" href='@Url.Action("IniciarSesion","Home")'>Iniciar Sesion</a> 
               <br>
               <br>
               <p class="text-center">¿No tenés una cuenta? ¡Sumate a la comunidad!</p> 
                <a class="btn btn-primary registro" href='@Url.Action("Registrarse","Home")'>Registrarse</a>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="comentarios" tabindex="-1" aria-labelledby="comentarioslabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="comentariostitulo"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="comentarioscontenido"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="eliminarlabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminartitulo"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="eliminarcontenido"></div>
            </div>
        </div>
    </div>
</div>
